PC-Lint Summary
===============

Project: ${PROJECT}
Version: ${VERSION}

${PCLINTVERSIONSTRING}
${PCLINTOPTIONSTRING}

Files with findings
-------------------

Summary
~~~~~~~

${PCLINTSUMMARY}

Details
~~~~~~~

${PCLINTDETAILS}

Files without findings
----------------------

${PCLINTPASSED}

